<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio-SDVR</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/public/CSS/estilosIS.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e326503e1d.js" crossorigin="anonymous"></script>
</head>


<body class="d-flex h-100 text-center text-bg-light">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/users/index">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Votar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/votaciones">Información</a>
        </li>
      </ul>
    </header>

    <ul class="errores">
        <% if (typeof errors !='undefined' ) { %>
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.message %>
                </li>
                <% }) %>
                    <% } %>
    </ul>
    <ul class="errores">
        <% if(messages.success_msg) { %>
            <li>
                <%= messages.success_msg %>
            </li>
            <% } %>
    </ul>

    <ul class="errores">
        <% if (messages.error) { %>
            <li>
                <%= messages.error %>
            </li>
            <% } %>
    </ul>

    <form action="/users/login" lang="es" method="post" class="row g-2">
      <div class="col-12">
        <label for="persona_nombre" class="form-label">Nombre(s)</label>
        <input type="text" class="form-control" id="persona_nombre" name="persona_nombre" placeholder="Ingresa tu nombre" required>
      </div>
      <div class="col-md-6">
        <label for="persona_apellidopat" class="form-label">Apellido Paterno</label>
        <input type="text" class="form-control" id="persona_apellidopat" name="persona_apellidopat" placeholder="Ingresa tu apellido paterno" required>
      </div>
      <div class="col-md-6">
        <label for="persona_apellidomat" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" id="persona_apellidomat" name="persona_apellidomat" placeholder="Ingresa tu apellido materno" required>
      </div>
      <div class="col-md-4">
        <label for="persona_curp" class="form-label">CURP</label>
        <input type="text" class="form-control" id="persona_curp" name="persona_curp" placeholder="CURP" required>
      </div>
      <div class="col-md-4">
        <label for="persona_clavelec" class="form-label">Clave Electoral</label>
        <input type="text" class="form-control" id="persona_clavelec" name="persona_clavelec" placeholder="Clave Electoral" min="17" max="19" required>
      </div>
      <div class="col-md-4">
        <label for="seccion_id" class="form-label">Sección</label>
        <input type="number" class="form-control" id="seccion_id" name="seccion_id" min="1" max="26" placeholder="Sección" required>
      </div>
      <div class="col-12">
        <button type="submit" name="Submit" class="btn btn-lg btn-secondary fw-bold">Sign In</button>
      </div>
    </form>

    <footer class="mt-auto text-white-50">
      <div class="container pt-4">
        <section class="mb-4">
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/ieepcnlmx"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/ieepcnlmx" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/ieepcnlmx/"
            target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <p style="color: black">Universidad Anáhuac Querétaro </p>
    </footer>
  </div>
</body>
</html>