<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Voto Registrado</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/public/CSS/estilosDash.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e326503e1d.js" crossorigin="anonymous"></script>
</head>


<body class="d-flex h-100 text-center text-bg-light">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Volver a Inicio</a>
        </li>
      </ul>
    </header>

    <div class="table justify-content-center">
      <p style="color: #eec428;">¡Tu voto ha sido registrado con éxito!</p>
      <div id="tablas" class="table">
      </div>
    </div>


    <footer class="mt-auto text-white-50">
      <div class="container pt-4">
        <section class="mb-4">
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/ceenlmx/"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/ceenlmx" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/ceenlmx/?hl=es"
            target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <p style="color: black">Universidad Anáhuac Querétaro </p>
    </footer>
  </div>
</body>
</html>