.btn-secondary a{
    background-color: gray;
    color: white;
  }
  
  .btn-secondary:hover{
    background-color: #eec428;
    color: black;
    border-color: white;
  }

.cover-container {
    max-width: 42em;
}

.nav-pills a {
    color: black;
}

.nav-pills :hover {
    color: white;
    background-color: red;
    border-radius: 10px;
}

.nav-pills .nav-link.active {
    background-color: #eec428;
    color: white;
}

.table{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    text-align: center;
}

#tablas.table{
    position:relative;
    margin: auto;
    width: 389px;;
    text-align: center;

}

h1{
    text-align: center;
}
b2{
    font-size: 20px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
